* {
    margin: 0;
    padding: 0;
    text-align: center;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  
  body {
    background: linear-gradient(135deg, #00b09b 0%, #96c93d 100%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
    padding: 2rem;
  }
  
  h1 {
    background-color: rgba(8, 27, 49, 0.8);
    color: #fff;
    height: 5rem;
    line-height: 5rem;
    margin-bottom: 2rem;
    border-radius: 10px;
    padding: 0 2rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease, transform 0.3s ease;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .choice:hover {
    cursor: pointer;
    background-color: rgba(8, 27, 49, 0.8);
    transform: scale(1.1);
  }
  
  img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
  }
  
  .choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 3rem;
  }
  
  .score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
  }
  
  #user-score,
  #comp-score {
    font-size: 4rem;
    color: #ffdf5d;
    font-weight: bold;
  }
  
  .msg-container {
    margin-top: 3rem;
  }
  
  #msg {
    background-color: rgba(8, 27, 49, 0.8);
    color: #fff;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem 2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  
  